html{
  width: 100%;
}
body{
  padding-top: 10px;
  background-color: #003cffa2;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
main{
  padding-top:5px;
}
header{
  text-align: center;
}
button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.title{
  padding: 20px;
  text-align: center;
}
.sidenav{
  padding-left:15px;
  padding-bottom:10px;
  border-top: 3px solid #5e2626;
}
.gameLabel{
  padding-top: 10px;
  color: white;
  font-weight: bold;
}
.gameLabel:hover{
  color: rgb(255, 228, 228);
  transform: scale(1.01);
}
.games{
  border: 6px solid white;
  padding: 40px;
  max-width: 300px;
  max-height: 250px;
  background-color: rgba(0, 0, 0, 0.836);
}
h1{
  font-weight: bold;
}
.games:hover{
  transform: scale(1.01);
}
.games:active{
  transform: scale(1.02);
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  border-top: 1px solid #ffffff;
}
.contact-form {
  text-align: center;
}
.login{
  padding-bottom: 10px;
}
#register{
  color: black;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  max-width: 200px;
  border: 1px solid;
  background-color: rgb(228, 228, 228);
}
#register:hover{
  background-color: rgba(228, 228, 228, 0.904);
  max-width: 200px;
}
#register:active{
  background-color: rgba(228, 228, 228, 0.836);
  max-width: 200px;
}
.paymentBTN{
  padding-bottom: 10px;
}
.dashboard{
  padding-left: 20px;
}
.footer-content{
  font-size: 10px;
  color: black;
}
#navFoot{
  color: rgb(53, 53, 53);
  font-weight: bold;
}
#navFoot:hover{
  color: rgb(153, 0, 0);
}
#navFoot:active{
  color: rgb(202, 0, 0);
}

#navHead{
  color: white;
}
#navSide{
  color: black;
  padding: 20px;
  max-width: 200px;
  font-weight: bold;
  border-bottom: 3px solid #5e2626;
  border-right: 3px solid #5e2626;
  background-color: rgb(228, 228, 228);
}
.nav-item:hover{
  transform: scale(1.05);
  background-color: white;
  max-width: 200px;
}
.nav-item:active{
  transform: scale(1.1);
  background-color: white;
  max-width: 200px;
}
.navbar-nav{
  padding-left: 10px;
}

#banner {
  min-height: 60px;
  border-bottom: 4px solid #5e2626;
}
  #banner h1 {
    color: #5e2626;
    font-size: 38px;
    font-weight: bold;
    z-index: 2;
    text-align: center; }
  #banner h3 {
    color: #5e2626;
    font-size: 22px;
    font-weight: bold;
    z-index: 2;
    text-align: center; }
  #banner nav .navbar-nav {
    max-width: 455px;
    margin: 0 auto; 
    font-size: 18px;
  }
  #banner nav .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid transparent; }
  #banner nav .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #5e2626; 
    background-color: white;
  }
  #banner nav .navbar-nav .nav-link.active {
    color: #cc0000;
    text-shadow: 3px 3px 3px #fff;
    border-bottom: 2px solid #5e2626;
    background-color: white;
    }